<!DOCTYPE html>
<html>
<head>
  <title>Hello Pumpkins!</title>
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
<!--   <link rel="stylesheet" href="http://code.jquery.com/mobile/1.2.0/jquery.mobile.structure-1.2.0.css" /> -->
	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.css" />
  <%= javascript_include_tag "http://js.pusher.com/1.12/pusher.min.js" %>
	<%= javascript_include_tag "http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.js" %>
	<%= javascript_include_tag "http://maps.google.com/maps/api/js?sensor=false" %>
	<%= javascript_include_tag "maplabel" %>
	<%= javascript_include_tag "noty/jquery.noty" %>
	<%= javascript_include_tag "noty/layouts/top" %>
	<%= javascript_include_tag "noty/themes/default" %>
	<%= javascript_include_tag "shake" %>
	<%= javascript_include_tag "jquery.jrumble.1.3.min" %>
	<%= javascript_include_tag "jquery.lightbox-0.5.min" %>
	<%= stylesheet_link_tag    "jquery.lightbox-0.5", media:"screen" %>
	<link href='http://fonts.googleapis.com/css?family=Milonga' rel='stylesheet' type='text/css'/>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1"> 
  <%= render 'layouts/shim' %>
</head>

<body>
<!-- 	<%= render 'layouts/header' %>
 -->
	<div class="container">

		<% flash.each do |key, value| %>
			<!-- <div class="alert alert-<%= key %>"><%= value %></div> -->
			<%= content_tag(:div, value, class: "alert alert-#{key}") %>
		<% end %>

		<%= yield %>
<!-- 		
		<%= render 'layouts/footer' %> -->
		<!--<%= debug(params) if Rails.env.development? %>-->
	</div>

</body>
</html>
